# Ignore all .env files
**/.env

# Ignore all .DS_Store files
**/.DS_Store

# Ignore all IntelliJ IDEA project files
**/.idea/

# Ignore all Maven target directories
**/target/

**/*.tar

/node_modules
package.json

yarn.lock